@page "/"
@using PizzaPlaceRJRL.Shared

<PageTitle>Index</PageTitle>

<!--Menu-->

<h1>Nuestra seleccion de pizzas</h1>

@foreach (var pizza in Estado.Menu.Pizzas)
{
    <div class = "row">
        <div class ="col">
            @pizza.Nombre
        </div>
        <div class ="col text-right">
            @($"{pizza.Precio:0.00}")
        </div>
        <div class ="col"></div>
        <div class ="col">
            <img src ="@ImagenPicante(pizza.Picante)"
            alt ="@pizza.Picante" />
        </div>
        <div class ="col">
            <button class ="btn btn-success pl-4 pr-4"
                @onclick="@(() => AgregarACanasta(pizza))">
                Agregar
            </button>
        </div>
    </div>
}

<!--Fin del menu-->

<!--Canasta de las compras-->
<br>
@if(Estado.Canasta.Ordenes.Any())
{
    <h1 class = "">Tu orden actual</h1>

    @foreach(var(pizza, pos) in Estado.Canasta.Ordenes.Select(
        (id,pos) => (Estado.Menu.GetPizza(id), pos)))
        {
            <div class ="row mb-2">
                <div class ="col">
                    @pizza.Nombre
                </div>
                <div class="col text-right">
                    @($"{pizza.Precio:0.00}")
                </div>
                <div class ="col"></div>
                <div class ="col"></div>
                <div class ="col">
                    <button class = "btn btn-danger"
                        @onclick="@(() => RemoverDeLaCanasta(pos))">
                        Eliminar
                    </button>
                </div>
            </div>
        }

    <div class ="row">
        <div class ="col"></div>
        <div class ="col"><hr /> </div>
        <div class="col"> </div>
        <div class ="col"></div>
    </div>

    <div class ="row">
        <div class ="col">Total:</div>
        <div class="col text-right font-weight-bold"> @($"{Estado.PrecioTotal:0.00}")</div>
        <div class="col"></div>
        <div class="col"></div
        <div class = "col"> </div>
    </div>

}
<!-- Fin de la canasta de las compras-->

<!--Detalles sobre el cliente-->
<br>

<h1 class ="mt-2 mb-2">Por favor, Introduzca sus datos abajo</h1>
<EditForm Model="@Estado.Canasta.clientes"
            OnValidSubmit="RealizarPedido">
    <DataAnnotationsValidator/>    
    <fieldset>
        @*Nombre del cliente*@
        <div class="row mb-2">
            <label class="col-2" for ="nombre">Nombre:</label>
            <InputText class ="form-control col-6" id="nombre"
                @bind-Value="Estado.Canasta.clientes.Nombre" />
        </div>

        <div class="row mb-2">
            <div class ="col-6 offset-2">
                <ValidationMessage For="@(() => Estado.Canasta.clientes.Nombre)"/>
            </div>
        </div>

        <div class ="row  mb-2">
            <label class="col-2" for="calle">Calle:</label>
            <InputText class="form-control col-6" id ="calle"
                @bind-Value="Estado.Canasta.clientes.Calle"/>
        </div>

        <div class="row mb-2">
            <div class ="col-6 offset-2">
                <ValidationMessage For ="@(() => Estado.Canasta.clientes.Calle)"/>
            </div>
        </div>
        

        <div class="row mb-2">
            <label class="col-2" for="ciudad">Ciudad:</label>
            <InputText class="form-control col-6" id ="ciudad"
                @bind-Value="Estado.Canasta.clientes.Ciudad"/>
        </div>

        <div class ="row mb-2">
            <div class ="col-6 offset-2">
                <ValidationMessage For ="@(() => Estado.Canasta.clientes.Ciudad)" />
            </div>
        </div>

        <div class ="row mb-2">
            <button class= "mx-auto w-25 btn btn-success" 
                @onclick="RealizarPedido">Verificar</button>
        </div>
    </fieldset>
</EditForm>
<br>

<!--Fin de la entrada de datos del cliente-->
@Estado.ToJson()

@code
{
    private Estado Estado {get;} = new Estado();

        protected override void OnInitialized()
        {
            Estado.Menu.Agregar(
                new Pizzas(1, "Pepperoni", 8.99M, Picante.Picante));

            Estado.Menu.Agregar(
                new Pizzas(2, "Margarita", 7.99M, Picante.Nada));

            Estado.Menu.Agregar(
                new Pizzas(3, "Diabolo", 9.99M, Picante.Caliente));
        }
    private string ImagenPicante(Picante picante) => $"imagenes/{picante.ToString().ToLower()}.png";

    private void AgregarACanasta(Pizzas pizzas) => Estado.Canasta.Agregar(pizzas.Id);

    private void RemoverDeLaCanasta(int pos) => Estado.Canasta.Eliminar(pos);
    
    private void RealizarPedido()
    {
        Console.WriteLine("Realizando pedido");
    }
}